@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }

  /* Hero */
  .hero {
    padding: 192px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/image-hero.jpg);
  }

  .auth-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-left: auto;
  }

  /* advantage list */
  .advantage-list {
    padding-top: 120px;
    padding-bottom: 0px;
  }

  .feature {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .advantage-list .item {
    width: calc((100% - 72px) / 4);
  }

  .advantage-list .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantage-list .item-icon {
    display: flex;
    width: 264px;
    height: 112px;
    background: var(--third-button-color);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  /* work */
  .work-list {
    display: block;
  }

  /* team-list */
  .team-list {
    padding: 120px 0;
  }

  .team-list > .conteiner {
    width: 1200px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  /* client */

  .clients {
    padding: 120px 0;
  }

  .clients > .conteiner {
    width: 1200px;
  }

  .client-list {
  }

  .client-item {
    width: calc((100% - 120px) / 6);
  }

  /* footer */

  .footer > .footer-conteiner {
    width: 1158px;
  }
  .wrap-footer-logo {
    margin-right: 120px;
  }

  .feature-subscribe {
    margin-left: 80px;

    margin-top: 0px;
  }

  .feature-subscribe-text {
    margin-top: 0px;
  }

  /* portfilio works */

  .works .list-btn {
    justify-content: center;
  }

  .works-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
